[client]
#socket = /var/lib/mysql/mysql.sock
default-character-set = utf8
 
[innotop]
#socket = /var/lib/mysql/mysql.sock
 
[mysql]
prompt = \\u@\\d \\r:\\m:\\s>
no-auto-rehash
default-character-set = utf8

[mysqld_safe]
#pid-file = /var/lib/mysql/mysqld.pid
#malloc-lib = /usr/lib64/libjemalloc.so.1
#plugin-dir = /var/lib/mysql/lib/mysql/plugin/
#plugin-load = ha_tokudb.so
nice=-19
open-files-limit=65535
default-time-zone = '+8:00'


[mysqld]
 
#### Baes dir ####
#basedir = /var/lib/mysql/
#datadir = /var/lib/mysql/data
#tmpdir = /var/lib/mysql/tmp
#socket = /var/lib/mysql/mysql.sock
character-set-server = utf8
collation-server = utf8_general_ci
server-id=1
user=mysql
bind-address = 0.0.0.0

#### Base configure info ####
port = 3306
skip-name-resolve
old_passwords = 0
lower_case_table_names = 1
open_files_limit = 65535
read_rnd_buffer_size = 5M
max_allowed_packet = 500M
max_connect_errors = 50000
max_connections = 1000
max_user_connections = 950 
thread_cache_size=64
table_open_cache=1024
thread_stack=262144
wait_timeout=864000
 
#### Log info ####
#log-error = /var/lib/mysql/logs/errorlog/alert.log
slow_query_log=1
#slow_query_log_file= /var/lib/mysql/logs/slowlog/slow.log
log-slow-admin-statements
long_query_time = 0.1
slow_launch_time=1
 
#### Binary log && Relay log ####
binlog_format='MIXED'
#log-bin = /var/lib/mysql/logs/binlog/mysql-bin
log-slave-updates = 1
#relay-log = /var/lib/mysql/logs/relaylog/mysqld-relay-bin
#relay-log-index = /var/lib/mysql/logs/relaylog/mysqld-relay-bin.index
#master-info-file = /var/lib/mysql/logs/relaylog/master.info
#relay-log-info-file = /var/lib/mysql/logs/relaylog/relay-log.info
max_binlog_size = 500M
max_binlog_cache_size = 2G
 
 
#### query cache ####
query_cache_size = 100M
query_cache_limit = 1K
query_cache_min_res_unit = 1K
query_cache_type=2
 
#myisam
concurrent_insert = 2
key_buffer_size = 100M
sort_buffer_size = 100K
join_buffer_size = 100K
read_buffer_size = 1M
myisam_sort_buffer_size = 100M
 
#innodb plugin
 
#innodb
default-storage-engine = INNODB
innodb_flush_method = O_DIRECT
innodb_file_per_table = 1
innodb_open_files=60000
innodb_flush_log_at_trx_commit = 2
innodb_lock_wait_timeout = 100
#innodb_additional_mem_pool_size = 20M
innodb_buffer_pool_size = 16G
innodb_log_buffer_size= 400M
innodb_log_file_size = 100M
innodb_log_files_in_group = 4
#innodb_file_io_threads = 4
innodb_thread_concurrency = 16
innodb_max_dirty_pages_pct = 50
transaction-isolation = READ-COMMITTED
innodb_data_file_path = ibdata1:10G;ibdata2:5G:autoextend
 
innodb_buffer_pool_instances=4
innodb_thread_concurrency=32


#tokudb
#tokudb_row_format = tokudb_fast
#tokudb_cache_size = 1G
#tokudb_commit_sync = 0
#tokudb_directio = 1
#tokudb_read_block_size = 128K
#tokudb_read_buf_size = 128K

 
### Server id ####
log_bin_trust_function_creators=1
read_only=0

[mysqldump]
quick
max_allowed_packet = 500M

